<!doctype html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <title>Face Perception Experiment - Informed Consent Form</title>
        <link rel=stylesheet href="/static/css/bootstrap.min.css" type="text/css">
        <link rel=stylesheet href="/static/css/style.css" type="text/css">
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
        <style type="text/css">
            body {
                    overflow: auto;
                    }

            .slide div { 
                    width: 700px;
                    margin: 0 auto;
                    margin-top: 50px;
                    background-color:#fff;
                }

            select {
                    font-size: 12pt;
                }


            
        </style>
    </head>
    <body>
        <div id="consent" class="slide">
<div style='text-align: left'>
    <h2>Consent Form</h2>

        <p>Please read the following information carefully before deciding whether to participate in this experiment.</p>

        <hr>
        
        <p> Vicente Malave, a graduate student at the University of California San Diego (UCSD), and his colleagues are conducting a research study to find out more about how humans calculate how similar or how close pairs of objects are. This research is being conducted using the Human Intelligence Task (HIT) on Amazon’s Mechanical Turk (MTurk) service. You are being invited to participate in this study because you are at least 18 years of age, and an MTurk user. We will collect data from about 500 participants.</p>

        <p>If you decide to participate in this study, you will be asked to complete a survey in which you compare some objects and indicate how similar they are. For example you may be asked to indicate which cities are closer to each other, how similar animals are to each other, or how similar pictures of faces are. After this you will be asked to complete optional questions providing information about you (age, race, sex, etc.) that will help us analyze the data from the research. Your participation in this research could last from five minutes to one hour, and the expected length per HIT will be indicated in the Mechanical Turk interface.</p>

        <p>We believe there are no known risks associated with this research study; however, as with any online related activity, the risk of a breach of confidentiality is always possible.  To the best of our ability your answers in this study will remain confidential. We will minimize any risks to breach of confidentiality by keeping your responses completely separate from your worker ID, and researchers will not have access to your worker ID. Research records will be kept confidential to the extent allowed by law and may be reviewed by the UCSD Institutional Review Board. </p>

        <p>There is no direct benefit to you from this research. Results from this study will be used to better understand how similarity works. Being able to predict what things people think is the goal of search engines, and the researchers will use the understanding of similarity gained from this research to design better systems. </p>

        <p>Participation in this research is entirely voluntary. You may refuse to participate, refuse to answer specific questions, or withdraw at any time without penalty or loss of benefits to which you are entitled. If you decide that you no longer wish to continue in this study, you can simply choose not submit the HIT.</p>

        <p>In compensation for your time you will be provided a $3.00 payment by Amazon.com.</p>

        <p>If you have questions about this project, or if you have a research-related problem, you may contact the researcher Vicente Malave at 619-800-4113. If you have any questions concerning your rights as a research subject, you may contact the UCSD Human Research Protections Program Office at (858) 657-5100.</p>
        <hr>

        <p>By clicking “I agree” below you are indicating that you are at least 18 years old, have read this consent form and agree to participate in this research study.  Please print a copy of this page for your records.</p>

        <!--<p><b>Why are you doing this research?</b><br/>
        We want to understand the way the human brain helps us understand the faces.  More specifically, we want to know the way we measure the similarities between faces.  </p> 

        <p><b>What will I have to do?</b><br/>
        We will be asking you to pay attention to face images on your computer screen.  We will also ask you to make responses using your keyboard or your mouse.
        You will receive more specific instructions shortly.</p>

        <p><b>How long will this experiment take?</b><br/>
        This experiment will take about 30  minutes.</p> 

        <p><b>Are there are any risks?</b><br/> 
        We do not expect there to be any risks.  For questions of a very private nature that might make you feel uncomfortable, you have the option to skip that question or decline to respond. You are also free to end the experiment at any time by closing your browser window.  </p>-->
        
        <!-- <p><b>What do I get out of it?</b><br/>
        We will give you feedback on how you did when you finish the experiment. We will also tell you how you compare with other people who did this experiment.
        We will also explain what we hope to learn from this research.  The final results from this experiment will be posted on the Results page.</p> -->

        <!--<p><b>Will I get paid?</b><br/>
        Yes, in compensation for your time you will be provided a $0.50 payment by Amazon.com.</p>
        
        <p><b>Will you share my information with other people?</b><br/>
        To the best of our ability your answers in this study will remain confidential. We will minimize any risks to breach of confidentiality by keeping your responses completely separate from your worker ID, and researchers will not have access to your worker ID. Research records will be kept confidential to the extent allowed by law and may be reviewed by the UCSD Institutional Review Board. </p>
        
        <p><b>What if I change my mind and don't want to do the experiment anymore?</b><br/>
        Participation in this research is entirely voluntary. You may refuse to participate, refuse to answer specific questions, or withdraw at any time without penalty or loss of benefits to which you are entitled. If you decide that you no longer wish to continue in this study, you can simply choose not submit the HIT.</p>
        

<p><b>What if I have questions or something to tell you?</b> <br/>If you have questions about this project, or if you have a research-related problem, you may contact the researcher Vicente Malave at 619-800-4113. If you have any questions concerning your rights as a research subject, you may contact the UCSD Human Research Protections Program Office at (858) 657-5100. </p>-->
<!--<p><b>What if I have questions about my rights in this research, have a complaint, or want to report a problem to someone besides the researcher?</b> <br/>
If you have questions about your rights in this research or for questions, concerns, suggestions, or complaints that are not being addressed by the researcher, or in the case of research-related harm, please contact:
Director of IRB Operations at the Harvard University Committee on the Use of Human Subjects in Research, 1414 Massachusetts Avenue, Second Floor, Cambridge, MA 02138. Phone: 617-496-CUHS (2847); Email: cuhs@fas.harvard.edu<br/>-->

<!--<p><b>How do I agree to participate?</b> By clicking “I agree” below you are indicating that:  
<ol>
<li>You are at least 18 years old</li>
<li>You have read this consent form and agree to participate in this research study.</li>-->
<!--<li>You understand that if leave the experiment before it ends, you will not get paid.</li>-->
<!--</ol>
<hr></p>

<p>This research has been reviewed and approved by the Committee on the Use of Human Subjects in Research at University of Canifornia, San Diego.</p>-->
<!--<p><input type="checkbox" value="1" name="agree" id="consentAgree">
I agree to take part in this experiment, and know that I will not get paid if leave the experiment before it ends.</p>-->
<span id="consentAlert" style="color:#f00;"></span><br>

</div>
</div>
        <div id="container-consent">
            <div id="consent">
                <!--<h1>We need your consent to proceed</h1>
                <hr>-->
                <div class="legal well">
                    <!--<p>
                    You may print a copy of this page for your records.
                    </p>-->
                    <!--<p>
                    Put your consent form here if you are a worker and are viewing this
                    please decline the HIT.
                    </p>-->

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr>
                <h4>Do you understand and consent to these terms?</h4>
                <br>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>

